body {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #6b6b47;
  letter-spacing: 1px;
  line-height: 1;
}

a,
a:hover {
  text-decoration: none;
}

.main-col {
  max-width: 400px;
  margin: auto;
  padding: 0 5px 0 5px;
}

.user-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
  padding: 10px;
  color: #e67300;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.user-div:hover {
  background-color: #e6e6e6;
}

.text {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  font-size: 24px;
  text-align: left;
  width: 60%;
}

.display-name {
  font-size: 18px;
  color: #6542A6;
}

.details {
  font-size: 12px;
  letter-spacing: initial;
}

.user-div .fa {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  font-size: 24px;
  color: #6542A6;
}

.img-profile {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  width: 50px;
  margin-right: 5px;
}

.btn-group .btn {
  border-radius: 4px 4px 0 0;
  height: 50px;
  color: #6542A6;
}

.form-control {
  border-radius: 0;
  border-top: none;
  height: 40px;
}

#user-search {
  background: no-repeat center /30% url(https://dl.dropboxusercontent.com/u/21809793/twitch_logo3.jpg) #fff;
}

#user-search:focus {
  background-image: none;
}